html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

@font-face {
  font-family: fancy;
  src: url('/mrs-saint-delafield.ttf') format('truetype'); /* Safari, Android, iOS */
  font-display: swap;
}

body {
  background-image: linear-gradient(
  25deg,
  hsl(240deg 31% 82%) 0%,
  hsl(240deg 31% 84%) 5%,
  hsl(241deg 31% 86%) 10%,
  hsl(241deg 31% 88%) 17%,
  hsl(241deg 32% 90%) 24%,
  hsl(241deg 32% 92%) 32%,
  hsl(241deg 32% 94%) 43%,
  hsl(242deg 32% 96%) 57%,
  hsl(242deg 32% 98%) 77%,
  hsl(0deg 0% 100%) 100%
);
}
